데이자 자료 구조 1 - List

- 문자열, 정수, 실수, 논리형 : 변수 하나당 값 하나
- 변수 : 여러 가지의 값을 그룹화
    - 공통 분모를 가지고 있는 값들의 모임 -> 특성 분류 가능해짐
    - 상대적으로 컴퓨터 메모리 공간 효율적 사용
    - 대부분의 크롤링한 결과 값 -> 리스트 형태의 자료 구조로 값이 결정
- 변수명 = [값1, 값2, 값3]
- 리스트 & 문자열은 유사성을 띄고 있다.
    - 리스트, 문자열은 공통 속성을 가지고 있기 때문에 비슷한 문법 구조를 갖고 있다.
- iter -> iterable : 반복할 수 있는 = index 를 가졌다
- 값을 추가하는 방법
    - append() : 리스트에서 값을 추가 (뒤에서부터)
    - 앞에서부터 값을 추가할 수는 없고, 원하는 위치에 추가해야 함.
        - 리스트 + 리스트 연산
        - insert(추가하고자 하는 인덱스, 넣고자 하는 값)
        - extend() : 여러 개의 값을 한 번에 넣고자 할 때
- 값을 제거하는 방법
    - pop() : 리스트에서 값을 제거 (뒤에서부터) -> 인자값으로 인덱스값 부여 -> 해당 인덱스의 값이 제거
    - remove() : 리스트에서 특정 값을 직접 선택해서 제거
    - del 리스트명[인덱스] : 해당 인덱스의 값을 제거
- 슬라이싱 기능이 문자열과 동일하게 작동
- 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능

Q. location = 서울시, 경기도, 인천시의 타입은?
Q. 리스트를 출력
Q. 서울시 출력
Q. 경기도 출력
Q. 인천시 출력
Q. 인천시 출력 (다른 구문으로)
Q. 부산시를 추가한 리스트 출력

Q. [3, 4, 5] 와 [1, 2]를 합치세요
Q. **** [3, 4, 5] 와 [1, 2]를 합치고, 그 리스트에 0을 추가하세요.
Q. **** 1, 2, 3이 들어있는 리스트에 4, 5가 있는 리스트를 추가하세요.
Q. 1, 2, 3이 있는 리스트에 4, 5를 추가하세요.

Q. 서울시, 경기도, 인천시, 부산시 가 있는 리스트에서 경기도와 인천시만 출력하세요.

Q. **** 서울시, 경기도, 인천시, 부산시 가 있는 리스트에서 인천시만 제외하고 출력하세요.

Q. 리스트를 선언함과 동시에 값을 할당
Q. 리스트 형태의 변수를 우선 선언
Q. 정수, 문자열, 논리형, 리스트 타입의 값이 들어간 리스트

In [7]:
location = ["서울시", "경기도", "인천시"]
# 대괄호 [] 가 있는 것만으로도 class list 라는 결과값이 나온다
print(type(location))

print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[-1])

location.append("부산시")
print(location)

<class 'list'>
['서울시', '경기도', '인천시']
서울시
경기도
인천시
인천시
['서울시', '경기도', '인천시', '부산시']

In [13]:
# 리스트 + 리스트 연산 예시
a = [3, 4, 5]
b = [1, 2]
result = b + a
print(result)

# insert 함수 예시
a = [3, 4, 5]
b = [1, 2]
result = b + a
result.insert(0, 0)
print(result)

# 중첩 리스트 (리스트에 리스트가 들어감)
a = [1, 2, 3]
a.append([4, 5])
print(a)

# extend 함수 예시
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [30]:
location = ["서울시", "경기도", "인천시", "부산시"]

print(location[1:3])

['경기도', '인천시']

In [36]:
location = ["서울시", "경기도", "인천시", "부산시"]
del location[2]
print(location)

['서울시', '경기도', '부산시']

In [39]:
var = [1, 2, 3]
# 리스트를 선언함과 동시에 값을 할당 

var01 = list()
# 리스트 안에 있는 값을 추가, 삭제 개별함수가 존재하기 때문에
# 리스트 형태의 변수를 우선 선언 후 향후 추가, 삭제가 가능

print(type(var))
print(type(var01))

<class 'list'>
<class 'list'>

In [40]:
# 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능
var02 = [1, 2, "Hello", True, [3, 4]]
print(var02)

[1, 2, 'Hello', True, [3, 4]]