데이터 자료 구조 1 - List

- 값을 추가하는 방법
    - appned() : 리스트에서 값을 추가 (뒤에서부터)
    - 앞에서부터는 값을 추가할 수 없음. 값을 원하는 위치에 추가해야 함
    - 리스트+리스트 연산
    - insert(추가하고자 하는 인덱스, 넣고자하는 값)
    - extend() : 여러 개의 값을 한 번에 넣고자 할 때

- 값을 제거하는 방법
    - pop() : 리스트에서 값을 제거 (뒤에서부터) ->인자값으로 인덱스값 부여 ->해당 인덱스의 값이 제거
    - remove() : 리스트에서 특정 값을 직접 선택해서 제거
    - del 리스트명[인덱스]
- 슬라이싱 기능이 문자열과 동일하게 작동
- 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능
- 리스트 안에 담겨있는 값을 정렬
    - sort() : 오름차순 정렬 - 원본 데이터를 편집하는 기능
    - reverse() : 내림차순 정렬 - 원본 데이터를 편집하는 기능
- split() : 문자열을 리스트로 변경해주는 기능. 원본 데이터 편집 X

Q. 2, 1, 4, 3의 리스트를 오름차순으로 정렬하기
Q. 내림차순으로 재정렬하기
Q. python is easy 를 공백 기준으로 나누기
Q. 리스트에서 한 단어씩 꺼내기

In [1]:
numbers = [2, 1, 4, 3]
print(numbers)

[2, 1, 4, 3]

In [2]:
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [3]:
print(numbers)

[1, 2, 3, 4]

In [4]:
numbers.reverse()
print(numbers)

[4, 3, 2, 1]

In [12]:
words = "python is easy"
results = words.split()
print(results)

for item in results :
    print(item)

['python', 'is', 'easy']
python
is
easy