### 문자열 관련 파이썬 기초 문법

1. 문자열에 있는 특정 문자 갯수 세기 : count() 메서드 함수
2. 문자열에 있는 특정 문자의 위치 파악 : index() 메서드 함수 -> 반드시 있어야 하는 값을 찾아오라고 해야 함. 없으면 에러 발생.
3. 문자열에 있는 특정 문자의 위치 파악(에러를 발생시키지 않음) : find() -> -1
4. 서로 다른 문자열을 하나로 합치고자 할 때 : join()
5. 문자열에서 앞뒤 공백 없앨 때 : strip() // 오른쪽 여백 제거 rstrip() // 왼쪽 여백 제거 lstrip(). 인자값이 없으면 기본적으로 공백을 제거
6. 대소문자 변경 : 대문자화 upper() // 소문자화 lower()
7. 문자열을 쪼개고자 할 때 : split() -> 리스트로 반환. 인자값이 없으면 기본적으로 공백을 기준으로 나눈다.
8. 문자열을 찾아서 원하는 문자열로 교체하고자 할 때 : replace(인자값1, 인자값2) 1-교체 대상, 2-교체값

In [2]:
data = "Dave David"
data.count("D")

2

In [6]:
string01 = "Dave ID is Dave"
print(string01.index("D"))

string02 = "dave ID is Dave"
print(string02.index("D"))

0
6

In [8]:
string = "Dave ID is Dave"
string.find("x")

-1

In [10]:
string = "12345"
comma = ","

print(comma.join(string))
print(" ".join(string))

1,2,3,4,5
1 2 3 4 5

In [12]:
data1 = " Dave "
print(data1.strip())

data2 = "             Dave"
print(data2.strip())

Dave
Dave

In [17]:
data = "             Dave    "
#data.lstrip()
data.rstrip()

'             Dave'

In [23]:
string = "           9999999999999(DAVE)88888     "
string.strip("98() ")

#제거하고 싶은 요소를 " " 안에 모두 넣는다

'DAVE'

In [25]:
string = "Dave"
#string.upper()
string.lower()

'dave'

In [29]:
string = "Dave goes to korea"
string.split()[3] #구분자(괄호 안의 값)를 아무것도 넣지 않는다면 공백을 구분자로 선택
# [3] 3번째 인덱스의 값을 찾아온다, split 하면 리스트이므로 해당 코드 가능.

'korea'

In [31]:
string = "Dave/goes to/korea"
string.split("/")

['Dave', 'goes to', 'korea']

In [35]:
string2 = "(David)"
string2.replace("(", "").replace(")", "") # method chaining 기법. 연달아 작용
#"" 아무것도 주지 말자=없애겠다

'David'