# 데이터 자료 구조 1 - List
- 문자열, 정수, 실수, 논리형 : 변수 하나당 값 하나 (변수 : 값)
- 변수 : 여러 가지의 값을 그룹화
    - 공통 분모를 가지고 있는 값들의 모임 -> 특성 분류 가능해짐
    - 상대적으로 컴퓨터 메모리 공간 효율적 사용
    - 대부분의 크롤링한 결과 값 -> 리스트 형태의 자료 구조로 값이 결정
- 변수명 = [값1, 값2, 값3 ]
- 리스트 & 문자열 : 유사성을 띄고 있다.
    - 리스트, 문자열은 공통 속성을 가지고 있기 때문에 비슷한 문법 구조를 갖고 있다.
- __iter__ -> iterable : 반복할 수 있는 = index 를 가졌다
- 값을 추가하는 방법
    - append() : 리스트에서 값을 추가 (뒤에서부터)
    - 앞에서부터는 값을 추가할 수 없음. 값을 원하는 위치에 추가해야 함. 
        - 리스트 + 리스트 연산
        - insert(추가하고자 하는 인덱스, 넣고자하는 값)
        - extend() : 여러 개의 값을 한 번에 넣고자 할 때
- 값을 제거하는 방법
    - pop() : 리스트에서 값을 제거 (뒤에서부터) -> 인자값으로 인덱스값 부여 -> 해당 인덱스의 값이 제거
    - remove() : 리스트에서 특정 값을 직접 선택해서 제거
    - del 리스트명[인덱스] : 해당 인덱스의 값을 제거
- 슬라이싱 기능이 문자열과 동일하게 작동
- 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능

In [57]:
location = ["서울시", "경기도", "인천시"]
# print(type(location)) 대괄호[] 만 있는 것만으로도 class list 라는 결과값이 나온다

print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[-1])

text = "apple"

print(dir(location))
print(dir(text))

['서울시', '경기도', '인천시']
서울시
경기도
인천시
인천시
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [56]:
location.append("부산시")
print(location)

['인천시', '경기도', '부산시']

In [22]:
# 리스트 + 리스트 연산 예시
a = [3, 4, 5]
b = [1, 2]
result = b + a
print(result)

# insert 함수 예시
a = [3, 4, 5]
b = [1, 2]
result = b + a
result.insert(0, 0)
print(result)

# 중첩 리스트 (리스트에 리스트가 들어감)
a = [1, 2, 3]
a.append([4,5])
print(a)

# extend 함수 예시
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [66]:
location = ["서울시", "경기도", "인천시", "부산시"]
location[1:3]

['경기도', '인천시']

In [48]:
del location[0]

In [49]:
location

['인천시', '경기도', '부산시']

In [51]:
var = [1, 2, 3]
# 리스트를 선언함과 동시에 값을 할당

var01 = list()
# 리스트 안에 있는 값을 추가, 삭제 개별 함수가 존재하기 때문에
# 리스트 형태의 변수를 우선 선언 후 향후 추가, 삭제가 가능

print(type(var))
print(type(var01))

<class 'list'>
<class 'list'>

In [53]:
# 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능의 예시
var02 = [1, 2, "Hello", True, [3, 4]]
print(var02)

[1, 2, 'Hello', True, [3, 4]]