데이터 자료 구조 1 - 리스트

-문자열, 정수, 실수, 논리형 : 변수 하나당 값 하나
-리스트와 문자열은 공통 속성을 가지고 있기 때문에 비슷한 문법 구조를 갖고 있다
-값을 추가하는 방법
    - append(): 뒤에서부터 값을 추가
    - 앞에서부터 추가는 불가능하고, 원하는 위치에 추가할 수 있음
        - inster(인덱스, 넣고자하는 값)
        - extend() : 한 번에 여러개를 넣고자 할 때
        - 리스트 + 리스트 연산
-값을 제거하는 방법
    -pop(인덱스): 뒤에서부터 값을 제거.
    -remove() : 리스트에서 특정 값을 직접 선택해서 제거
    -del 리스트명[인덱스] : 해당 인덱스의 값을 제거
- 슬라이싱 기능이 문자열과 동일하게 작동
- 리스트 자료 구조 안에 입력될 값의 타입이 상이해도 가능

In [11]:
location = ["서울시", "경기도", "인천시"]
print(type(location))
print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[-1])
location.append("부산시")
print(location)

<class 'list'>
['서울시', '경기도', '인천시']
서울시
경기도
인천시
인천시
['서울시', '경기도', '인천시', '부산시']

In [15]:
a = [3, 4, 5] 
b = [1, 2] 
result = b + a 
print(result)

a = [3, 4, 5] 
b = [1, 2]
result = b + a
result.insert(0, 0)
print(result)

a = [1, 2, 3]
a.append([4, 5])
print(a)

a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [18]:
location = ["서울시", "경기도", "인천시", "부산시"]
print(location[1:3])

['경기도', '인천시']

In [19]:
location = ["서울시", "경기도", "인천시", "부산시"]
del location[2]
print(location)

['서울시', '경기도', '부산시']

In [26]:
var = [1, 2, 3]
var01 = ["a, b, c"]
var02 = list()

print(type(var))
print(type(var01))
print(type(var02))

var03 = [1, "Hello", True, [4, 5]]
print(var03)

<class 'list'>
<class 'list'>
<class 'list'>
[1, 'Hello', True, [4, 5]]